[submodule "3rd/emacs-ycmd"]
	path = 3rd/emacs-ycmd
	url = https://github.com/abingham/emacs-ycmd.git
[submodule "3rd/rtags"]
	path = 3rd/rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule "3rd/ycmd"]
	path = 3rd/ycmd
	url = https://github.com/Valloric/ycmd.git
[submodule "3rd/emacs-async"]
	path = 3rd/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "3rd/helm"]
	path = 3rd/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "3rd/helm-gtags"]
	path = 3rd/helm-gtags
	url = https://github.com/syohex/emacs-helm-gtags.git
[submodule "3rd/company-mode"]
	path = 3rd/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "3rd/flycheck"]
	path = 3rd/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "3rd/git-modes"]
	path = 3rd/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "3rd/magit"]
	path = 3rd/magit
	url = https://github.com/magit/magit.git
[submodule "3rd/multiple-cursors"]
	path = 3rd/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "3rd/mu"]
	path = 3rd/mu
	url = https://github.com/djcb/mu.git
[submodule "3rd/sauron"]
	path = 3rd/sauron
	url = https://github.com/djcb/sauron.git
[submodule "3rd/sr-speedbar"]
	path = 3rd/sr-speedbar
	url = https://github.com/emacsmirror/sr-speedbar.git
[submodule "3rd/emacs-epc"]
	path = 3rd/emacs-epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule "3rd/emacs-deferred"]
	path = 3rd/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "3rd/emacs-ctable"]
	path = 3rd/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable.git
[submodule "3rd/paredit"]
	path = 3rd/paredit
	url = http://mumble.net/~campbell/git/paredit.git/
[submodule "3rd/helm-swoop"]
	path = 3rd/helm-swoop
	url = https://github.com/ShingoFukuyama/helm-swoop.git
[submodule "3rd/rope"]
	path = 3rd/rope
	url = https://github.com/python-rope/rope.git
[submodule "3rd/Pymacs"]
	path = 3rd/Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "3rd/ropemacs"]
	path = 3rd/ropemacs
	url = https://github.com/python-rope/ropemacs.git
