[submodule "3rd/emacs-ycmd"]
	path = 3rd/emacs-ycmd
	url = https://github.com/abingham/emacs-ycmd.git
[submodule "3rd/rtags"]
	path = 3rd/rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule "3rd/ycmd"]
	path = 3rd/ycmd
	url = https://github.com/Valloric/ycmd.git
