[submodule "3rd/emacs-ycmd"]
	path = 3rd/emacs-ycmd
	url = https://github.com/abingham/emacs-ycmd.git
[submodule "3rd/rtags"]
	path = 3rd/rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule "3rd/ycmd"]
	path = 3rd/ycmd
	url = https://github.com/Valloric/ycmd.git
[submodule "3rd/emacs-async"]
	path = 3rd/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "3rd/helm"]
	path = 3rd/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "3rd/helm-gtags"]
	path = 3rd/helm-gtags
	url = https://github.com/syohex/emacs-helm-gtags.git
[submodule "3rd/company-mode"]
	path = 3rd/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "3rd/flycheck"]
	path = 3rd/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "3rd/git-modes"]
	path = 3rd/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "3rd/magit"]
	path = 3rd/magit
	url = https://github.com/magit/magit.git
[submodule "3rd/multiple-cursors"]
	path = 3rd/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
